/* Used BootStrap just for the btn */

* {
    box-sizing: border-box;
}

html {
    /* max-width: 100vh; */
}

body {
    margin: 0;
    padding: 0;
    /* display: grid;  */
    font-family: natoSans;
    min-height: 100%
}

@font-face {
    font-family: natoSans;
    src: url(../fonts/natoSans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: lobster;
    src: url(../fonts/Lobster/Lobster-Regular.ttf);
}

h1 {
    margin: 0;
    color: #fff;
    padding: 10px;
    font-family: lobster;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px auto;
    background-color: #EEE;
    color: #232526;
}

input {
    margin: 15px auto;
    width: 125px;
}

nav {
    min-width: 100%;
    background: linear-gradient(to right, #485563, #29323c);
    min-height: 60px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

/* Layout */

.container {
    max-width: 980px;
    margin: 16px auto 5px;
    z-index: 3;
}

.canvas-contariner {
    z-index: 2;
}

.control-section {
    transform: translate(0, 0);
    z-index: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    min-height: 500px;
    border: 1px solid #EEE;
    border-radius: 5px;
    background: linear-gradient(to right, #232526, #414345);
    box-shadow: inset 11px -2px 14px -13px rgba(0, 0, 0, 0.75);
    transition: transform .5s ease-in-out;
}

.transform-control {
    transform: translate(-425px, 0);
}

.control-btn {
    position: relative;
    top: -10px;
    height: 50px;
}

.github-btn {
    margin: 25px auto 0;
    background-color: #272b30;
    width: 138px;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: 4px;
}

.github-btn:hover {
    background-color: #fff;
}

.github {
    width: 160px;
}

.github:hover {
    text-decoration: none;
    color: #000;
}

.gallery-link{
    margin: 20px 0 0;
    text-align: center;
}

/* Canvas */

canvas {
    border: 2px dashed #EEE;
    /* box-shadow: 0px 0px 10px 0px rgba(155, 163, 162, 1); */
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    z-index: 1;
}

.canvas-contariner {
    max-width: 100%;
}

/* Control Section */

.control-section h2 {
    margin: 5px auto;
    text-align: center;
    color: #616161;
    text-shadow: #e0e0e0 1px 1px 0;
}

[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}

.file {
    color: #FFFFFF;
    border: 0.1em solid #FFFFFF;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    max-width: 200px;
    height: 50px;
    font-size: inherit;
    margin: .6rem auto;
    outline: none;
    transition: all 0.3s;
}

.file:hover {
    color: #000000;
    background-color: #FFFFFF;
    border: #fff 1px solid;
}

.file::after {
    content: 'Upload Image ⇑';
}

.save-img:hover {
    cursor: pointer;
    color: #000000;
    background-color: #FFFFFF;
    border: #fff 1px solid;
}

.left-right-input {
    width: 50px;
}

.line-delete {
    background-color: rgb(35, 37, 38);
    border: none;
}

.trash {
    color: #FFF;
}

.control-text {
    border-bottom: #EEE 1px solid;
}

.form-group {
    width: 220px;
    margin: 10px auto;
}

.custom-file-label {
    text-align: left;
}

.color-input {
    width: 60px;
}

.fb-share-btn {
    background: #3C5A99;
    color: white;
    height: 29px;
    padding-top: 3px;
    margin-top: 0;
}

.save-img {
    padding-top: 2px;
    height: 29px;
    margin-top: 0;
}

.new-line-btn {
    margin-top: 6px;
    height: 28px;
    padding-top: 2px;
}

.text-input{
    padding: 6px;
}

/* Footer */

footer {
    text-align: center;
    margin-top: 10px;
}

/* Helpers */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* Media Queries */

@media screen and (max-width: 440px) {
    body {
        width: 100vw;
    }
    canvas {
        width: 88vw;
    }
    .container {
        /* margin: 50px 0 10px; */
        width: 88vw;
    }
    .flex {
        display: grid;
    }
    footer{
        text-align: center;
    }
    .control-section{
        min-height: 420px;
    }
    .control-title{
        display: none;
    }
    .custom-file-label, .form-group{
        
    }
}